.header {
    background-color: #477bff;
    color: #fff;
    margin-bottom: 2rem;
    padding: 2rem 1rem;
    text-align: center;
}

.headerHtml {
    background-color: #FFA500;
    color: #fff;
    margin-bottom: 2rem;
    padding: 2rem 1rem;
    text-align: center;
}

.headerCSSJava {
    background-color: #21675e;
    color: #fff;
    margin-bottom: 2rem;
    padding: 2rem 1rem;
    text-align: center;
}

.text-blue-Cursive {
    color: #000C66;
    font-family: Cursive;
    text-align: left;
}

.text-blue-Fantasy {
    color: #000C66;
    font-family: Fantasy;
    text-align: left;
}

.text-blue-Courier {
    color: #000C66;
    font-family: Courier New, monospace;
    text-align: left;
}

.center {
    background-color: #477bff;
    color: #fff;
    margin-bottom: 2rem;
    padding: 1rem 0.5rem;
    text-align: center;
}
